################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CheatCodeLite/bin/Debug/netstandard2.0/CheatCodeLite.pdb
*.nupkg
